<!DOCTYPE html>
<html>
<head>
	<title>Nuevo Pokemon</title>
</head>
<body>
	<form method="post" action="/<%= nombre %>/pokemon/new">
		<input type="text" name="name" placeholder="Nombre">
		<input type="text" name="tipo" placeholder="Tipo">
		<input type="text" name="level" placeholder="Level">
		<input type="text" name="imgURL" placeholder="Foto">
		<input type="submit" name="">
	</form>
</body>
</html>
