<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action= "/" method= "post"><input type="text" name="usuario" placeholder="Cual es tu nombre"><input type="submit" name="boton"></form>
</body>
</html>