<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Hola <%= nombre %> esta por comenzar tu aventura...</h1>
    <a href="/<%= nombre %>/pokemon">Elige un pokemon</a>
</body>
</html>